<div class="scroll">
  <div class="explanation">
    <div class="title">
      無駄な夜ふかし、していませんか？
    </div>
    <ul class="subtitle">
      <li>寝るのがもったいなく感じる</li>
      <li>なんとやくモヤモヤして眠れない</li>
      <li>スマホをぼーっと眺めてしまう</li>
    </ul>
    <div class="title">
      GUSURIで1日の満足度を高め、快適な睡眠を！
    </div>
  </div>
  <div class="explanation">
    <div class="title">
      目標を設定します。
    </div>
    <%= image_tag "image1.png", class: "image" %>
    <div class="subtitle">
      頑張らないと達成できないような目標を設定する必要はありません。
    </div>
  </div>
  <div class="explanation">
    <div class="title">
      記録は簡単です。
    </div>
    <%= image_tag "image2.png", class: "image" %>
    <div class="subtitle">
      1日の終わりに記録をつけましょう。チェックをしてひとこと感想を書くだけです。
    </div>
  </div>
  <div class="explanation">
    <div class="title">
      結果を判定します。
    </div>
    <%= image_tag "image3.png", class: "image" %>
    <div class="subtitle">
      達成できていなくても、明日がんばれるようなメッセージが表示されます。
    </div>
  </div>
  <div class="explanation">
    <div class="title">
      すぐにツイート。
    </div>
    <%= image_tag "image4.png", class: "image" %>
    <div class="subtitle">
      結果画面からすぐにツイートができます。
    </div>
  </div>
</div>
<div class="start">
  <%= link_to "はじめる(Twitterログイン)", "/auth/twitter", class: "start-btn" %>
</div>