<%= render "shared/header" %>
<div class="reflections">
  <%= form_with model: @reflection, local: true do |f| %>
    <%= f.date_field :start_time %>
    <%= f.text_field :impression %>
    <%= f.collection_check_boxes :goal_ids, Goal.all, :id, :name %>
    <%= f.submit %>
  <% end %>
</div>