<div class="points">
  <%= @points.sum %>
</div>
<div class="impression">
  <%= @reflection.impression %>
</div>
<div class="judgment">
  <% if @points.sum >= 100 %>
    合格
  <% else %>
    不合格
  <% end %>
</div>
<%= link_to "編集", edit_reflection_path(@reflection) %>
<%= link_to "削除", reflection_path(@reflection), method: :delete %>
<%= button_to "ツイート", reflection_tweets_path(@reflection) %>