<div class="main">
  <div class="show-main-content">
    <div class="reflection-date">
      <%= @reflection.start_time.month %>/<%= @reflection.start_time.day%>
    </div>
    <div class="achievement">
      <% @reflection.goal_reflections.each do |goal_reflection| %>
        <%= goal_reflection.goal.name %>
      <% end %>
    </div>
    <div class="points">
      <span class="total-point"><%= @total_point.point %></span>/100
    </div>
    <div class="judgement">
      <% if @total_point.point >= 100 %>
        <span class="pass">合格</span>
        <span class="message">ぐっすり寝れる！やったね！</span>
      <% else %>
        <span class="pass">不合格</span>
        <span class="message">明日頑張るために今日は早く寝よう！</span>
      <% end %>
    </div>
    <div class="links">
      <%= button_to "編集", edit_reflection_path(@reflection), method: :get, class: "link" %>
      <%= button_to "削除", reflection_path(@reflection), method: :delete, class: "link" %>
    </div>
    <%= button_to "ツイート", reflection_tweets_path(@reflection), class: "tweet" %>
  </div>
</div>