<div class="header">
  <div class="header-left">
    <%= link_to "GUSURI", root_path, class: "app-name" %>
  </div>
  <div class="header-right">
    <% if logged_in? %>
      <span class="header-content">@<%= current_user.nickname %></span>
      <%= link_to "ログアウト", logout_path, class: "header-content" %>
      <%= link_to "マイページ", reflections_path, class: "header-content" %>
    <% else %>
      <%= link_to "Twitterログイン", "/auth/twitter", class: "header-content" %>
    <% end %>
  </div>
</div>