<%= render "shared/header" %>
ポイント項目編集
<div class="goals">
  <%= form_with model: @goal, local: true do |f| %>
    <%= f.text_field :name %>
    <%= f.number_field :point %>
    <%= f.submit %>
  <% end %>
</div>