<%= render "shared/header" %>
<div class="goals_lists">
  <% if @goals.present? %>
    <% @goals.each do |goal| %>
      <%= goal.name %>
      <%= goal.point %>
      <%= link_to "編集", edit_goal_path(goal) %>
    <% end %>
  <% end %>
</div>
<div class="goals">
  <%= form_with model: @goal, local: true do |f| %>
    <%= f.text_field :name %>
    <%= f.number_field :point %>
    <%= f.submit %>
  <% end %>
</div>
<div class="save">
  <%= link_to "保存する", reflections_path %>
</div>
例
<div class="recommended">
生きてる 10
健康 5
</div>