<div class="main">
  <div class="main-content">
    <div class="goals-lists">
      <% if @goals.present? %>
        <% @goals.each do |goal| %>
          <div class="goals">
            <span class="goal-name"><%= goal.name %></span>
            <span class="goal-point"><%= goal.point %>ポイント</span>
            <%= button_to "編集", edit_goal_path(goal), method: :get, class: "link margin" %>
            <%= button_to "削除", goal_path(goal), method: :delete, class: "link" %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="new-goals">
      <%= form_with model: @goal, local: true do |f| %>
        <%= render "shared/error_messages", model: f.object %>
        <div class="new-goal">
          <%= f.text_field :name, placeholder: "項目", class: "new-goal-name" %>
          <%= f.number_field :point, placeholder: "ポイント", class: "new-goal-point" %>
          <%= f.submit "追加", class: "link" %>
        </div>
      <% end %>
    </div>
    <div class="save">
      <%= button_to "保存する", reflections_path, method: :get, class: "save" %>
    </div>
    <div class="recommended">
      <div class="recommended-title">
        おすすめ
      </div>
      <div class="recommended-goals">
        <div class="recommended-goal">
          <span class="recommended-goal-name">生きてるだけでえらい！</span>
          <span class="recommended-goal-point">50ポイント</span>
        </div>
        <div class="recommended-goal">
          <span class="recommended-goal-name">健康なだけでえらい！</span>
          <span class="recommended-goal-point">25ポイント</span>
        </div>
        <div class="recommended-goal">
          <span class="recommended-goal-name">掃除機をかけた！すっきり！</span>
          <span class="recommended-goal-point">20ポイント</span>
        </div>
        <div class="recommended-goal">
          <span class="recommended-goal-name">日光を浴びた！ビタミン！</span>
          <span class="recommended-goal-point">20ポイント</span>
        </div>
        <div class="recommended-goal">
          <span class="recommended-goal-name">洗い物をした！すっきり！</span>
          <span class="recommended-goal-point">15ポイント</span>
        </div>
      </div>
    </div>
  </div>
</div>